@import "@fullbrains/vimana";
@import "./animations.css";

:root {
    --font-sans: vimana;
}

@layer base {
    *, *::before, *::after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

:root:not(.dark) {
    --ui-text: var(--color-slate-900);
}

.s-overlay {
    background: rgba(0, 0, 0, 0.85);
}

.s-floating-menu {
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.dark .s-floating-menu {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.25), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}
