@import "@fullbrains/vimana";
@import "./animations.css";
@import "./colors.css";
@import "./corner-shape.css";

:root {
    --font-sans: vimana;
}

@layer base {
    *, *::before, *::after {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}

:root {
    --ui-border: color-mix(in oklch, var(--color-iron-500) 20%, transparent);
}

:root:not(.dark) {
    --ui-text: var(--color-stem-900);
}

.s-overlay {
    background: rgba(0, 0, 0, 0.85);
}

.s-floating-menu {
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

.dark .s-floating-menu {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 10px 15px -3px rgba(0, 0, 0, 0.25), 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

.s-outline {
    border: 1px solid color-mix(in oklch, var(--color-iron-500) 30%, transparent);
    border-radius: 6px;
    transition: border-color 200ms, box-shadow 200ms;
}

@supports (corner-shape: squircle) {
    .s-outline {
        border-radius: 9px;
        corner-shape: superellipse(1.5);
    }
}

.s-outline:hover {
    border-color: color-mix(in oklch, var(--color-iron-500) 50%, transparent);
}

.s-outline-hover {
    transition: border-color 200ms, box-shadow 200ms;
}

.s-outline-focus,
.s-outline-focus-within:focus-within,
.s-outline-hover:hover {
    border: 1px solid color-mix(in oklch, var(--color-iron-500) 80%, transparent);
    box-shadow: 0 0 0 3.5px color-mix(in oklch, var(--color-iron-500) 20%, transparent);
}
