@theme {
  --color-tar-50: oklch(0.957 0.003 244); /* 01/50 */
  --color-tar-75: oklch(0.935 0.004 244); /* 02/50 */
  --color-tar-100: oklch(0.913 0.004 244); /* 04/50 */
  --color-tar-125: oklch(0.891 0.005 244); /* 05/50 */
  --color-tar-150: oklch(0.870 0.005 244); /* 06/50 */
  --color-tar-175: oklch(0.848 0.006 244); /* 08/50 */
  --color-tar-200: oklch(0.826 0.006 244); /* 09/50 */
  --color-tar-225: oklch(0.804 0.006 244); /* 11/50 */
  --color-tar-250: oklch(0.782 0.007 244); /* 12/50 */
  --color-tar-275: oklch(0.760 0.007 244); /* 13/50 */
  --color-tar-300: oklch(0.739 0.008 244); /* 15/50 */
  --color-tar-325: oklch(0.717 0.008 244); /* 16/50 */
  --color-tar-350: oklch(0.695 0.009 244); /* 17/50 */
  --color-tar-375: oklch(0.673 0.009 244); /* 19/50 */
  --color-tar-400: oklch(0.651 0.010 244); /* 20/50 */
  --color-tar-425: oklch(0.629 0.010 244); /* 21/50 */
  --color-tar-450: oklch(0.608 0.011 244); /* 23/50 */
  --color-tar-475: oklch(0.586 0.011 244); /* 24/50 */
  --color-tar-500: oklch(0.564 0.012 244); /* 26/50 */
  --color-tar-525: oklch(0.542 0.012 244); /* 27/50 */
  --color-tar-550: oklch(0.520 0.013 244); /* 28/50 */
  --color-tar-575: oklch(0.498 0.013 244); /* 30/50 */
  --color-tar-600: oklch(0.477 0.013 244); /* 31/50 */
  --color-tar-625: oklch(0.455 0.014 244); /* 32/50 */
  --color-tar-650: oklch(0.433 0.014 244); /* 34/50 */
  --color-tar-675: oklch(0.411 0.015 244); /* 35/50 */
  --color-tar-700: oklch(0.389 0.015 244); /* 36/50 */
  --color-tar-725: oklch(0.368 0.016 244); /* 38/50 */
  --color-tar-750: oklch(0.346 0.016 244); /* 39/50 */
  --color-tar-775: oklch(0.324 0.017 244); /* 40/50 */
  --color-tar-800: oklch(0.302 0.017 244); /* 42/50 */
  --color-tar-825: oklch(0.280 0.018 244); /* 43/50 */
  --color-tar-850: oklch(0.258 0.018 244); /* 45/50 */
  --color-tar-875: oklch(0.237 0.019 244); /* 46/50 */
  --color-tar-900: oklch(0.215 0.019 244); /* 47/50 */
  --color-tar-925: oklch(0.193 0.020 244); /* 49/50 */
  --color-tar-950: oklch(0.171 0.020 244); /* 50/50 */
}