@theme smut {
    --color-smut-50: oklch(0.980 0.003 250); /* 01/50 */
    --color-smut-75: oklch(0.957 0.003 250); /* 02/50 */
    --color-smut-100: oklch(0.933 0.004 250); /* 04/50 */
    --color-smut-125: oklch(0.910 0.005 250); /* 05/50 */
    --color-smut-150: oklch(0.886 0.005 250); /* 06/50 */
    --color-smut-175: oklch(0.863 0.006 250); /* 08/50 */
    --color-smut-200: oklch(0.840 0.007 250); /* 09/50 */
    --color-smut-225: oklch(0.816 0.007 250); /* 11/50 */
    --color-smut-250: oklch(0.793 0.008 250); /* 12/50 */
    --color-smut-275: oklch(0.769 0.008 250); /* 13/50 */
    --color-smut-300: oklch(0.746 0.009 250); /* 15/50 */
    --color-smut-325: oklch(0.722 0.010 250); /* 16/50 */
    --color-smut-350: oklch(0.699 0.010 250); /* 17/50 */
    --color-smut-375: oklch(0.676 0.011 250); /* 19/50 */
    --color-smut-400: oklch(0.652 0.012 250); /* 20/50 */
    --color-smut-425: oklch(0.629 0.012 250); /* 21/50 */
    --color-smut-450: oklch(0.605 0.013 250); /* 23/50 */
    --color-smut-475: oklch(0.582 0.013 250); /* 24/50 */
    --color-smut-500: oklch(0.558 0.014 250); /* 26/50 */
    --color-smut-525: oklch(0.535 0.015 250); /* 27/50 */
    --color-smut-550: oklch(0.512 0.015 250); /* 28/50 */
    --color-smut-575: oklch(0.488 0.016 250); /* 30/50 */
    --color-smut-600: oklch(0.465 0.016 250); /* 31/50 */
    --color-smut-625: oklch(0.441 0.017 250); /* 32/50 */
    --color-smut-650: oklch(0.418 0.018 250); /* 34/50 */
    --color-smut-675: oklch(0.395 0.018 250); /* 35/50 */
    --color-smut-700: oklch(0.371 0.019 250); /* 36/50 */
    --color-smut-725: oklch(0.348 0.020 250); /* 38/50 */
    --color-smut-750: oklch(0.324 0.020 250); /* 39/50 */
    --color-smut-775: oklch(0.301 0.021 250); /* 40/50 */
    --color-smut-800: oklch(0.277 0.021 250); /* 42/50 */
    --color-smut-825: oklch(0.254 0.022 250); /* 43/50 */
    --color-smut-850: oklch(0.231 0.023 250); /* 45/50 */
    --color-smut-875: oklch(0.207 0.023 250); /* 46/50 */
    --color-smut-900: oklch(0.184 0.024 250); /* 47/50 */
    --color-smut-925: oklch(0.160 0.025 250); /* 49/50 */
    --color-smut-950: oklch(0.137 0.025 250); /* 50/50 */
}